<!DOCTYPE html>
<html lang="es">
<head>
	<title><?php print DEFAULT_TITLE;?></title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="<?php print $_layoutArr['theme_css']?>bootstrap.min.css">
	<link rel="stylesheet" href="<?php print $_layoutArr['theme_css']?>jquery-ui.min.css">
	<!-- Javascripts -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script src="<?php print $_layoutArr['theme_js']?>jquery-ui.min.js"></script>
	<script src="<?php print $_layoutArr['theme_js']?>bootstrap.min.js"></script>
<script src="<?php print BASE_URL.'views/default/js/'?>principal.js"></script>
</head>
<body>
	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href="#" class="navbar-brand"><?php print APP_NAME;?></a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<form class="navbar-form navbar-left">
					<div class="form-group">
						<a id="btnInicio" class="btn btn-default" href="<?php print BASE_URL;?>">Inicio</a>
					</div>
					<div class="form-group">
						<a id="btnRegistro" class="btn btn-default" href="<?php print BASE_URL;?>registro">Registro</a>
					</div>
				</form>
				<form class="navbar-form navbar-right" action="<?php print BASE_URL;?>" id="loginForm" method="post">
					<div class="form-group">
						<select id="tipoUsuario" class="form-control" name="tipoUsuario">
							<option value="0" selected="select">Elige usuario</option>
							<option value="1">Cliente</option>
							<option value="2">Comisionista</option>
							<option value="3">Operador</option>
							<option value="4">Administrador</option>
						</select>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="nombreUsuario" name="nombreUsuario" placeholder="Usuario" value="">
					</div>
					<div class="form-group">
						<input type="password" class="form-control" id="claveUsuario" name="claveUsuario" placeholder="Clave" value="">
					</div>
					<div class="form-group">
						<input type="hidden" name="sesion" id="sesion" value="<?php print $this->sesion;?>">
                                                <a id="btnLogin" class="btn btn-success">Inicia sesión</a>
					</div>
				</form>
			</div>
			<div class="row">
				<div class="col-md-4 col-md-offset-8">
					<div class="text-center btn-warning"><h4 id="error"><?php if(isset($this->error)) print $this->error;?></h4></div>
				</div>
			</div>
		</div>
	</nav>
