RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-1
RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]
AddType image/x-icon .ico
RewriteRule ^favicon favicon.ico [NC,L]