<?php
/**
 *@Dev Luis Perera
 * **/
$nivel = 1;
//Session::get('usuario','session_id');
if ($this->numEmpresas) {
	?>
	<input type="hidden" id="idEmpresa" value="">

	<div class="table-responsive">
		<table class="table table-striped">
			<tr>
				<th>#</th>
				<th>Nombre</th>
				<th>Razón social</th>
				<th>RFC</th>
				<th>Contacto</th>
				<th>Correo</th>
				<th>Editar</th>
				<th>Acción</th>
			</tr>
			<?php
				foreach ($this->empresas as $row) {
					print $row;
				}
			?>
		</table>
	</div>
	<!--Formulario a insertarse en el modal de edición-->
	<form id="empresaForm" style="display:none">
		<div class="row form-group">
		<div class="col-md-5">
			<label for="rfc">RFC</label>
			<input type="text" class="form-control" name="rfc">
		</div>
		<div class="col-md-6 col-md-offset-1">
			<label for="razon_social">Razón social</label>
			<input type="text" class="form-control" name="razon_social">
		</div>
	</div>
	</form>
	<!--Modal de acciones-->
	<div class="dialogo" role="dialog"></div>

	<script type="text/javascript" src="<?php print BASE_URL?>modules/empresas/views/index/js/ajax.js"></script>
	<?php
}else{
	?>
	<h3>No hay empresas.</h3>
	<?php
}
?>
