<?php
/**
 *@Dev Luis Perera
 * **/
/*$nivel = 3;
Session::acceso($nivel);*/
if (count($this->numEmpresas) > 0) {
	?>
	<input type="hidden" id="idEmpresa" value="">

	<div class="table-responsive">
		<table class="table table-striped">
			<tr>
				<th>#</th>
				<th>Nombre</th>
				<th>Razón social</th>
				<th>RFC</th>
				<th>Contacto</th>
				<th>Correo</th>
				<th>Acción</th>
			</tr>
			<?php
				if (count($this->empresas) > 0) {
					foreach ($this->empresas as $row) {
						print $row;
					}
				}
			?>
		</table>
	</div>
	<!--Formulario a insertarse en el modal de edición-->
	<form id="empresaForm" style="display:none">
		<div class="row form-group">
		<div class="col-md-5">
			<label for="rfc">RFC</label>
			<input type="text" class="form-control" name="rfc">
		</div>
		<div class="col-md-6 col-md-offset-1">
			<label for="razon_social">Razón social</label>
			<input type="text" class="form-control" name="razon_social">
		</div>
	</div>
	</form>
	<!--Formulario a insertarse en el modal de edición-->
	
	<!--Modal de acciones-->
	<div class="dialogo" role="dialog"></div>
	<?php
}else{
	?>
	<h3>No hay empresas.</h3>
	<?php
}
?>
