<div class="dialogo"></div>
	<div class="row form-group">
		<div class="col-md-3 col-xs-12"><input type="text" id="miRfc" class="form-control" maxlength="15" placeholder="RFC..."></div>
	</div>	
	<div class="row form-group">
		<div class="col-md-2 col-xs-12"><button id="buscarEmpresa" class="btn btn-primary">Buscar empresa</button></div>
	</div>
	<div class="row form-group" id="existe" style="display:none">
		<div class="col-md-6 col-xs-12"><select id="empresa"></select>
			<label for="registrarSucursal">¿Registrar sucursal?</label>
			<a href="#" id="registrarSucursal" class="btn btn-default">Registrar</a>
		</div>
		<div class="col-md-7 col-xs-12" id="mensaje">
			<?php if (isset($this->mensaje)) print $this->mensaje;?>
		</div>
	</div>
	<form>
		
	</form>
<form action="<?php print BASE_URL;?>empresas/index/nueva" method="post" id="empresasForm">
	<div id="campos" style="display:none">
		<div class="row form-group">
			<div class="col-md-5">
				<label for="rfc">RFC</label>
				<input type="text" class="form-control" name="rfc">
			</div>
			<div class="col-md-6 col-md-offset-1">
				<label for="razon_social">Razón social</label>
				<input type="text" class="form-control" name="razon_social">
			</div>
		</div>
		<div class="row form-group">
			<div class="col-md-5">

				<label for="contacto">Contacto</label>
				<input type="text" class="form-control" name="contacto">

			</div>
			<div class="col-md-6 col-md-offset-1">
				<label for="razon_social">Teléfono</label>
				<input type="text" class="form-control" name="telefono">
			</div>
		</div>
		<div class="row form-group">
			<div class="col-md-5">
				<label for="email">E-mail</label>
				<input type="email" class="form-control" name="email">
			</div>
			<div class="col-md-6 col-md-offset-1">
				<label for="pais">Pais</label>
				<input type="text" class="form-control" name="pais">
			</div>
		</div>
		<div class="row form-group">
			<div class="col-md-5">
				<label for="municipio">Municipio</label>
				<input type="text" class="form-control" name="municipio">
			</div>
			<div class="col-md-6 col-md-offset-1">
				<label for="colonia">Colonia</label>
				<input type="text" class="form-control" name="colonia">
			</div>
		</div>
		<div class="row form-group">
			<div class="col-md-5">
				<label for="localidad">Localidad</label>
				<input type="text" class="form-control" name="localidad">
			</div>
			<div class="col-md-6 col-md-offset-1">
				<label for="calle">Calle</label>
				<input type="text" class="form-control" name="calle">
			</div>
		</div>
		<div class="row form-group">
			<div class="col-md-5">
				<label for="numero_interior">Número int.</label>
				<input type="text" class="form-control" name="numero_interior">
			</div>
			<div class="col-md-6 col-md-offset-1">
				<label for="numero_exterior">Número ext.</label>
				<input type="text" class="form-control" name="numero_exterior">
			</div>
		</div>
		<div class="row form-group" id="upload" style="display:none">
			<label for="alta_hacienda">Documento Hacienda.</label>
			<input type="file" id="alta_hacienda">
		</div>
		<div class="row form-group">
			<div class="col-md-2 col-md-offset-5" style="display:none" id="registrar">
				<a class="btn btn-primary" id="btnGuardar">Registrar</a>
			</div>
			<div class="col-md-offset-5"></div>
			<input type="hidden" name="guardar" id="guardar">
		</div>
	</div>
</form>
<script type="text/javascript">
	$(document).ready(function(){
		$('#miRfc').click(function(e) {e.preventDefault();});
		$("#imgEmpresa").change(function(e) {
			imgVistaPrevia(this);
		});
		$('#buscarEmpresa').click(function(e) {e.preventDefault();});
		$('#btnGuardar').click(function(e) {e.preventDefault();});
		$('#solicitar').click(function(e) {e.preventDefault();});
	});
</script>
