<div class="container-fluid">
	<div class="row">
		<div id="carrusel" class="carousel slide" data-ride="carousel">
			<ol class="carousel-indicators">
				<li data-target="#carrusel" data-slide-to="0" class="active"></li>
				<li data-target="#carrusel" data-slide-to="0" class="active"></li>
				<li data-target="#carrusel" data-slide-to="0" class="active"></li>
			</ol>
			<div class="carousel-inner" role="listbox">
				<div class="item active">
					<img class="img-responsive" src="views/index/img/carrusel_8.jpg">
					<div class="carousel-caption">
						<h3>Bienvenido al sistema de facturación</h3>
						<p>Si ya tienes una cuenta con nosotros y quieres facturar, por favor inicia sesión.<br> 
			O registrate para poder tener acceso.<br>
			No recomendamos hacer una factura sin iniciar sesión</p>
			<p>Por favor checa nuestra seccion de dudas preparada para explicar lo sencillo que es facturar con nuestra empresa.</p>
					</div>
				</div>
				<div class="item">
					<img class="img-responsive" src="">
					<div class="carousel-caption"></div>
				</div>
				<div class="item">
					<img class="img-responsive" src="">
					<div class="carousel-caption"></div>
				</div>
			</div>
			<a class="left carousel-control" href="#carrusel" role="button" data-slide="prev">
				<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
				<span class="sr-only">Prev</span>
			</a>
			<a class="right carousel-control" href="#carrusel" role="button" data-slide="next">
				<span class="glyphicon glyphicon-chevron-right"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>
	</div>
</div>
<script type="text/javascript">
	$(document).ready(function(){
		$('#btnInicio').attr('class','btn btn-primary');
	});
</script>