<?php
$nivel = 1;
//Session::acceso($nivel);
if (isset($this->datosUsuario)) {
    $miVariable = $this->_req->getArgs();
    if (isset($this->errores) and count($this->errores) > 0) {
        foreach ($this->errores as $key => $value) {
            echo "<div class='alert alert-warning' role='alert'>$value</div>";
        }
    }

    elseif (isset($this->mensaje)) {
        print '<div class="alert alert-success" role="alert">Datos guardados.</div>';
    }
?>
<form action="<?php print BASE_URL?>usuarios/index/editar/<?php print $miVariable[0]?>" method="post" enctype="multipart/form-data">
    <div class="body">
        <div class="row form-group">
            <div class="col-md-2 col-md-offset-1"><label><input type="file" name="img"></label></div>
            <div class="col-md-3"></div>
            <div class="col-md-offset-6"></div>
        </div>
        <div class="row form-group">
            <div class="col-md-2 col-md-offset-1"><label>Tipo de usuario</label></div>
            <div class="col-md-3"><?php $tipo = Session::get('usuario','id_tipo'); 
            if ($tipo == 4) {
                ?>
                <select class="form-control" name="id_tipo"><?php print $this->tipos;?></select>
                <?php
            }
            else {
                ?>
                <pre class='form-control'><?php print $this->tipo['nombre'];?></pre>
                <?php
            }
            ?></div>
            <div class="col-md-2 col-md-offset-1"><label for="nombre">Nombre(s)</label></div>
            <div class="col-md-3"><input class="form-control" type="text" name="nombre" placeholder="<?php print ucwords($this->datosUsuario['nombre'])?>"></div>
        </div>
        <div class="row form-group">
            <div class="col-md-2 col-md-offset-1"><label>Apellido paterno</label></div>
            <div class="col-md-3"><input class="form-control" name="apellido_paterno" placeholder="<?php print ucwords($this->datosUsuario['apellido_paterno'])?>"></div>
            <div class="col-md-2 col-md-offset-1"><label for="nombre">Apellido materno</label></div>
            <div class="col-md-3"><input class="form-control" type="text" name="apellido_materno" placeholder="<?php print ucwords($this->datosUsuario['apellido_materno'])?>"></div>
        </div>
        <div class="row form-group">
            <div class="col-md-2 col-md-offset-1"><label>Nacimiento</label></div>
            <div class="col-md-3"><input class="form-control" name="fecha_nacimiento" readonly="true" placeholder="<?php print $this->datosUsuario['fecha_nacimiento']?>"></div>
            <div class="col-md-2 col-md-offset-1"><label for="nombre">E-mail</label></div>
            <div class="col-md-3"><input class="form-control" type="text" name="email" placeholder="<?php print $this->datosUsuario['email']?>"></div>
        </div>
        <div class="row form-group">
            <div class="col-md-2 col-md-offset-1"><label>Nombre de usuario</label></div>
            <div class="col-md-3"><input class="form-control" name="usuario" placeholder="<?php print $this->datosUsuario['usuario']?>"></div>
            <div class="col-md-2 col-md-offset-1"><label for="clave">Contraseña</label></div>
            <div class="col-md-3"><input class="form-control" type="text" name="clave" ></div>
        </div>
        <div class="row form-group">
            <div class="col-md-2 col-md-offset-1"><label>RFC</label></div>
            <div class="col-md-3"><input class="form-control" name="rfc" placeholder="<?php print $this->datosUsuario['rfc']?>"></div>
        </div>
        <div class="row">
            <p>
                <legend>
                    <div class="col-md-7 col-md-offset-5">
                    <button class="btn btn-primary btn-lg" id="btnGuardar">Guardar</button>
                        <input type="hidden" name="guardar" id="guardar" value="">
                    </div>
                </legend>
            </p>
        </div>
    </div>
</form>
<script>
    $(document).ready(function() {
        var fecha = $("input[name='fecha_nacimiento']").attr('placeholder');
        $("input[name='fecha_nacimiento']").attr('placeholder', cambiarFecha(fecha,'es'));
        $('#btnGuardar').click(function(e) {
            $('#guardar').val(1);
        });

        fechaNacimiento("fecha_nacimiento");
    });
</script>
<?php
}else
    print "<h2>Nada por mostrar</h2>"
?>
